<section class="hero-section">
  <video src="/videos/hero-video.mp4" autoplay muted loop playsinline></video>

  <div class="hero-overlay">
    <img class="hero-logo" src="/images/logo.png" alt="Accoladi logo" />
    <p class="hero-subtitle">
      We empower student performers <br />
      to recognize, afford, and achieve <br />
      their collegiate dreams.
    </p>
  </div>
</section>

<section class="welcome-section">
  <div class="accoladi-dotted-top"></div>

  <div class="container welcome-grid">
    <div class="welcome-content">
      <h2 class="welcome-title">Welcome to Accoladi</h2>
      <h3 class="welcome-subtitle">
        Connecting student musicians with opportunity and direction.
      </h3>
      <p>
        At Accoladi, everything starts with your talent—and the right
        introductions. We connect you with real-world opportunities for college
        admission, scholarships, and summer programs. Whether you're preparing
        auditions or exploring your path, we're here to guide, support, and
        celebrate your journey.
      </p>
    </div>

    <div class="welcome-media">
      <video
        class="media-placeholder"
        src="/videos/Anything-is-Possible.mp4"
        autoplay
        muted
        loop
        playsinline
      ></video>
    </div>
  </div>
  <div class="accoladi-dotted-connector"></div>
</section>

<section class="how-section">
  <video
    class="how-video"
    src="/videos/How-we-do-it.mp4"
    autoplay
    muted
    loop
    playsinline
  ></video>
</section>

<section class="scholar-cta">
  <div class="container scholar-grid">
    <div class="cta-copy">
      <h2 class="cta-title">
        Explore the Nation's Largest Collection of Non-Institutional Music and
        Academic Scholarships — 170,000+ and Counting, Only at Accoladi.
      </h2>
      <button class="cta-button">Discover Now</button>
    </div>

    <div class="cta-visual">
      <div class="visual-frame">
        <div class="visual-media">
          <img src="/images/scholar.png" alt="scholarships" />
        </div>
      </div>
      <p class="visual-caption">
        Mind-Blowing Fact: Over $5.3 Billion in non-institutional scholarships
        is available every year in America — and most students don't even know
        it exists.
      </p>
    </div>
  </div>
</section>

<section class="resource container">
  <div class="cards-flex">
    <article class="info-card" routerLink="">
      <div class="card-media">
        <p>Discover College Marching Bands: A State-By-State Guide</p>
        <img src="/images/college-marching.png" alt="What We Do" />
      </div>
      <div class="card-body">
        <h3 class="card-title">College Marching Band</h3>
      </div>
    </article>

    <article class="info-card" routerLink="">
      <div class="card-media">
        <p>
          Discover College Music Departments, University Schools of Music, and
          Conservatories. A State-by-State GuideUS College Directory
        </p>
        <img src="/images/us-college-directory.png" alt="How We Do It" />
      </div>
      <div class="card-body">
        <h3 class="card-title">US College Directory</h3>
      </div>
    </article>

    <article class="info-card" routerLink="">
      <div class="card-media">
        <p>
          Discover Your Path: A Guide to Nineteen Specialized Music Major Areas
          for Associates, Undergraduates, and Graduate StudentsMajors
        </p>
        <img src="/images/majors.png" alt="Why We Do It" />
      </div>
      <div class="card-body">
        <h3 class="card-title">Majors</h3>
      </div>
    </article>

    <article class="info-card" routerLink="">
      <div class="card-media">
        <p>
          Discover a National Repertoire Directory by Music Grade Levels and
          Appropriate Audition PiecesAudition Repertoire
        </p>
        <img src="/images/audition-repertoire.png" alt="Why We Do It" />
      </div>
      <div class="card-body">
        <h3 class="card-title">Audition Repertoire</h3>
      </div>
    </article>
  </div>

  <div class="resource-content">
    <div class="title">Resources</div>
    <p>
      At Accoladi, we believe that preparation isn’t just about practice—it’s
      about having the right tools, the right information, and the right
      strategy. That’s why our Resources section is designed to meet you at
      every stage of your journey, whether you're just beginning to explore your
      options or you're deep in the audition and application process.
    </p>
    <p>
      From step-by-step guides that break down complex tasks to expert-written
      articles that offer real-world insights, our content is built for action
      and clarity. You’ll find curated directories of music and performing arts
      programs, how-to checklists for every milestone, scholarship search
      strategies, mock entrance exams, and performance prep tools—all developed
      to help you move forward with confidence.
    </p>
    <p>
      No fluff. No guesswork. Just the resources you need to make informed
      decisions, stand out in auditions, and turn your passion into opportunity.
      Whether you're navigating college applications, building your artistic
      résumé, or exploring scholarship opportunities, everything you need is
      right here—organized, accessible, and designed with your success in mind.
    </p>
  </div>
</section>

<section class="aj-testimonial">
  <div class="container aj-grid">
    <div class="testimonial-content">
      <div class="content-decoration top-left"></div>
      <div class="content-decoration bottom-left"></div>

      <h2 class="testimonial-title">A.J. Neubert's Journey</h2>
      <p class="testimonial-text">
        I dreamed big. I worked hard. By the time I was a senior at Kenmore East
        High School in Tonawanda, New York, I had built a strong résumé—filled
        with performances, hours of practice, and everything I thought I needed.
        But when it came to turning that effort into college opportunities, I
        didn’t know where to start. I had no roadmap. No connections. Just
        questions.
      </p>
      <p class="testimonial-text">
        That’s when I found Accoladi. Through their platform, I was finally able
        to see what was out there—scholarships I’d never heard of, schools that
        matched my goals, and tools that helped me pull everything together.
        They even took my calls when I had questions, and that meant more than
        they know.
      </p>
      <p class="testimonial-text">
        With Accoladi’s guidance, my hard work had direction. My dream had a
        plan. And I had a way forward.
      </p>
      <p class="testimonial-text">
        Today, I’m proud to say I studied at both Oberlin Conservatory and the
        Colburn School—two of the most respected music institutions in the
        country.
        <br />
        Yes, dreams do come true. And for me, Accoladi helped make that
        possible.
      </p>
    </div>

    <div class="testimonial-visual">
      <div class="photo-container">
        <img src="images/aj-image.png" alt="A.J. Neubert playing bassoon" />
      </div>
      <div class="profile-info">
        <h3 class="profile-name">A.J. Neubert</h3>
        <p class="profile-title">Principal Bassoonist - Charlotte Symphony</p>
        <button class="profile-btn" [routerLink]="['/aj-neubert']">
          See A.J.'s Profile
        </button>
      </div>
    </div>
  </div>
</section>

<div class="marquee-container">
  <div class="marquee-content">
    ACCOLADI - EVERYTHING YOU NEED, ALL IN ONE PLACE! &nbsp; &nbsp; &nbsp;
    ACCOLADI - EVERYTHING YOU NEED, ALL IN ONE PLACE!
  </div>
</div>

<app-got-covered />

<section class="next-steps">
  <img src="images/next-step-bg.png" alt="next step" />
  <button class="next-steps-btn">Start Now</button>
</section>
