.dialog-container {
  padding: 2vw;
  background-color: var(--white-color);
  width: 100%;
  height: 90vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;

  h2 {
    font-weight: 800;
    font-size: 2vw;
    color: var(--navy-800);
    margin: 0;
  }

  .close-btn {
    color: var(--navy-800);

    .material-icons {
      font-size: 2vw;
      font-weight: bold;
    }
  }
}

.print-btn {
  background-color: #eee;
  color: var(--navy-700);
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.2vw;
  margin-bottom: 2vw;
  font-weight: 500;
  font-size: 1vw;
  cursor: pointer;
}

.terms-grid {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.term-group {
  margin-bottom: 2vw;
  width: 100%;

  h3 {
    font-size: 2vw;
    font-weight: 900;
    color: var(--navy-800);
    margin: 0 0 0.5vw 0;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 1vw;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5vw;
    margin: 0;
  }

  li {
    font-size: 1vw;
    line-height: 1.5;
    color: var(--navy-700);
    margin-bottom: 0.5vw;

    strong {
      font-weight: 600;
    }
  }
}
