nav {
  width: 100%;
  background-image: url("/images/gradient-bg.png");

  .navbar-container {
    margin: auto;
    width: 100%;
    padding: 1vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      cursor: pointer;

      img {
        width: 10vw;
      }
    }

    .navbar-menu {
      display: flex;
      align-items: center;
      gap: 2vw;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          color: var(--white-color);
          text-decoration: none;
          font-weight: 500;
          font-size: 1.1vw;
          line-height: 1;
        }

        a:hover {
          color: var(--amber-color);
        }

        .reg-link {
          color: var(--blue-color);
          font-size: 1vw;
          max-width: 9.5vw;
          display: block;
          cursor: pointer;
        }
      }

      .btn {
        background-color: var(--blue-color);
        color: var(--white-color);
        font-size: 1vw;
        font-weight: 500;
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 1vw;

      span {
        width: 8vw;
        height: 0.8vw;
        background-color: var(--white-color);
        border-radius: 1vw;
        transition: all 0.3s ease;
      }

      &.active {
        span:nth-child(1) {
          transform: translateY(1.8vw) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: translateY(-1.8vw) rotate(-45deg);
        }
      }
    }

    @media (max-width: 768px) {
      padding: 4vw 0;

      .navbar-logo img {
        width: 40vw;
      }

      .hamburger {
        display: flex;
        z-index: 1000;
      }

      .navbar-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #000c24;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in-out;
        z-index: 999;
        padding-top: 10vw;

        &.active {
          left: 0;
        }

        li {
          margin: 3vw 0;

          a {
            font-size: 5vw;
          }

          .reg-link {
            font-size: 4vw;
            max-width: 100%;
          }
        }

        .btn {
          font-size: 5vw;
          padding: 2vw 6vw;
        }
      }
    }
  }
}
