<nav>
  <div class="navbar-container container">
    <a class="navbar-logo" routerLink="">
      <img src="/images/logo.png" alt="logo" />
    </a>

    <ul class="navbar-menu">
      <li><a routerLink="/about">About us</a></li>
      <li><a routerLink="/resources">Resources</a></li>
      <li><a routerLink="/articles">Articles</a></li>
      <li><a routerLink="/engage">Subscribe</a></li>
      <li><a routerLink="/purpose">Purpose</a></li>
      <li>
        <a class="btn" href="https://my.accoladi.com/auth/teacher-login"
          >Sign In</a
        >
      </li>
      <li>
        <a class="reg-link" href="https://my.accoladi.com/auth/register/teacher"
          >Need an account? Register</a
        >
      </li>
    </ul>
  </div>
</nav>
