nav {
  width: 100%;
  background-image: url("/images/gradient-bg.png");

  .navbar-container {
    margin: auto;
    width: 100%;
    padding: 1vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      cursor: pointer;

      img {
        width: 10vw;
      }
    }

    .navbar-menu {
      display: flex;
      align-items: center;
      gap: 2vw;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          color: var(--white-color);
          text-decoration: none;
          font-weight: 500;
          font-size: 1.1vw;
          line-height: 1;
        }

        a:hover {
          color: var(--amber-color);
        }

        .reg-link {
          color: var(--blue-color);
          font-size: 1vw;
          max-width: 9.5vw;
          display: block;
        }
      }

      .btn {
        background-color: var(--blue-color);
        color: var(--white-color);
        font-size: 1vw;
        font-weight: 500;
      }
    }
  }
}
